allow kernel platform_app:process setsched;
allow kernel radio:process setsched;
allow kernel system_app:process setsched;
allow kernel system_server:process setsched;
allow kernel zygote:process setsched;
allow kernel debuggerd:process setsched;
allow kernel lmkd:process setsched;
allow kernel logd:process setsched;
allow kernel perfprofd:process setsched;
allow kernel surfaceflinger:process setsched;
